/* Statistics Styles */
.statistics-container {
  margin-bottom: 59px;
  display: grid;
  grid-gap: 42px;
}

.graph-section {
  display: flex;
  flex-direction: column;
  margin: 21px;
  align-items: center;
  padding: 30px;
}

.chartjs-size-monitor {
  position: fixed;
  height: 75%;
  padding: 30px;
}

.covid-image {
  display: flex;
  justify-self: center;
  align-self: center;
  margin-top: 21px;
}

/* Card Styles */
.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid rgb(42, 196, 207);
}

.recovered {
  border-bottom: 10px solid rgb(227, 187, 189);
}

.deaths {
  border-bottom: 10px solid rgb(154, 1, 86);
}

/* Country Picker Styles */
.formControl {
  width: 30%;
  margin-bottom: 30px !important;
}

/* Mobile Responsiveness */

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }

  .image {
    width: 100%;
  }

  .container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .graph-section {
    display: flex;
    flex-direction: column;
    margin: 2% 0 !important;
  }

  .chartjs-size-monitor {
    margin: 2% 0 !important;
  }

  .statistics-container {
    margin-bottom: 59px;
    display: grid;
    grid-gap: 42px;
  }
}
