/* Graph Styles */
.graph-section {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

/* Chart Styles */
.chart-section {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

/* Statistics Styles */
.statistics-container {
  height: 600px;
  margin-bottom: 59px;
  display: grid;
  grid-gap: 42px;
}

.covid-image {
  display: flex;
  justify-self: center;
  align-self: center;
  margin-top: 21px;
}

/* Card Styles */
.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

/* Country Picker Styles */
.formControl {
  width: 30%;
  margin-bottom: 30px !important;
}

/* Mobile Responsiveness */
@media (max-width: 770px) {
  .container {
      width: 100%;
  }

  .image {
      width: 100%;
  }
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }

  .image {
      width: 100%;
  }
}

